In [84]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/delhibihar/2017.xlsx
/kaggle/input/delhibihar/2022.xlsx
/kaggle/input/delhibihar/2018.xlsx
/kaggle/input/delhibihar/2023.xlsx
/kaggle/input/delhibihar/2020.xlsx
/kaggle/input/delhibihar/2021.xlsx
/kaggle/input/delhibihar/2019.xlsx
/kaggle/input/delhi-bihar2024/2024.xlsx

Originally all the datasets include energy hourly demand for both Delhi and Bihar state.
The data cleaning steps followed in this notebool are as follows:-
1. Extract only Delhi's demand data from original datasets
2. Combine differnet years data in a single dataframe
3. Create a datetime columns by extracting the year and datetime details from the State and Date columns
4. Drop the unimportant columns
5. Get the csv file of the cleaned data

In [85]:
import numpy as np
import pandas as pd

In [86]:
df1 = pd.read_excel('/kaggle/input/delhi-bihar2024/2024.xlsx')
df1.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2024  01-Jan 12am                    2019.57
1  Delhi - 2024   01-Jan 1am                    1757.78
2  Delhi - 2024   01-Jan 2am                    1605.63
3  Delhi - 2024   01-Jan 3am                    1548.81
4  Delhi - 2024   01-Jan 4am                    1596.26

In [87]:
delhi2024 = df1[:2904]
delhi2024.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2024  01-Jan 12am                    2019.57
1  Delhi - 2024   01-Jan 1am                    1757.78
2  Delhi - 2024   01-Jan 2am                    1605.63
3  Delhi - 2024   01-Jan 3am                    1548.81
4  Delhi - 2024   01-Jan 4am                    1596.26

In [88]:
delhi2024.tail()

             State         Date  Hourly Demand Met (in MW)
2899  Delhi - 2024   30-Apr 7pm                    3937.19
2900  Delhi - 2024   30-Apr 8pm                    3753.42
2901  Delhi - 2024   30-Apr 9pm                    3543.18
2902  Delhi - 2024  30-Apr 10pm                    3505.90
2903  Delhi - 2024  30-Apr 11pm                    3381.62

In [89]:
delhi2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2904 entries, 0 to 2903
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      2904 non-null   object
 1   Date                       2904 non-null   object
 2   Hourly Demand Met (in MW)  2904 non-null   float64
dtypes: float64(1), object(2)
memory usage: 68.2+ KB

In [90]:
delhi2024 = delhi2024.copy()

In [91]:
delhi2024.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2024  01-Jan 12am                    2019.57
1  Delhi - 2024   01-Jan 1am                    1757.78
2  Delhi - 2024   01-Jan 2am                    1605.63
3  Delhi - 2024   01-Jan 3am                    1548.81
4  Delhi - 2024   01-Jan 4am                    1596.26

In [92]:
df2 = pd.read_excel('/kaggle/input/delhibihar/2023.xlsx')
delhi2023 = df2[:8760]

In [93]:
delhi2023.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2023  01-Jan 12am                    2252.78
1  Delhi - 2023   01-Jan 1am                    2013.40
2  Delhi - 2023   01-Jan 2am                    1872.10
3  Delhi - 2023   01-Jan 3am                    1806.61
4  Delhi - 2023   01-Jan 4am                    1855.44

In [94]:
delhi2023.tail()

             State         Date  Hourly Demand Met (in MW)
8755  Delhi - 2023   31-Dec 7pm                    3491.86
8756  Delhi - 2023   31-Dec 8pm                    3309.13
8757  Delhi - 2023   31-Dec 9pm                    2994.52
8758  Delhi - 2023  31-Dec 10pm                    2714.60
8759  Delhi - 2023  31-Dec 11pm                    2367.61

In [95]:
delhi2023 = delhi2023.copy()

In [96]:
df3 = pd.read_excel('/kaggle/input/delhibihar/2022.xlsx')
delhi2022 = df3[:8760]

In [97]:
delhi2022.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2022  01-Jan 12am                    2024.56
1  Delhi - 2022   01-Jan 1am                    1795.53
2  Delhi - 2022   01-Jan 2am                    1654.96
3  Delhi - 2022   01-Jan 3am                    1583.93
4  Delhi - 2022   01-Jan 4am                    1641.72

In [98]:
delhi2022.tail()

             State         Date  Hourly Demand Met (in MW)
8755  Delhi - 2022   31-Dec 7pm                    3604.08
8756  Delhi - 2022   31-Dec 8pm                    3403.16
8757  Delhi - 2022   31-Dec 9pm                    3182.81
8758  Delhi - 2022  31-Dec 10pm                    2939.69
8759  Delhi - 2022  31-Dec 11pm                    2603.62

In [99]:
delhi2022 = delhi2022.copy()

In [100]:
df4 = pd.read_excel('/kaggle/input/delhibihar/2021.xlsx')
delhi2021 = df4[:8760]

In [101]:
delhi2021.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2021  01-Jan 12am                    2105.45
1  Delhi - 2021   01-Jan 1am                    1821.40
2  Delhi - 2021   01-Jan 2am                    1673.98
3  Delhi - 2021   01-Jan 3am                    1607.68
4  Delhi - 2021   01-Jan 4am                    1662.72

In [102]:
delhi2021.tail()

             State         Date  Hourly Demand Met (in MW)
8755  Delhi - 2021   31-Dec 7pm                    3548.87
8756  Delhi - 2021   31-Dec 8pm                    3307.11
8757  Delhi - 2021   31-Dec 9pm                    3047.61
8758  Delhi - 2021  31-Dec 10pm                    2774.16
8759  Delhi - 2021  31-Dec 11pm                    2379.97

In [103]:
delhi2021 = delhi2021.copy()

In [104]:
df5 = pd.read_excel('/kaggle/input/delhibihar/2020.xlsx')
delhi2020 = df5[:8772]

In [105]:
delhi2020.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2020  01-Jan 12am                    2505.06
1  Delhi - 2020   01-Jan 1am                    2172.85
2  Delhi - 2020   01-Jan 2am                    1983.25
3  Delhi - 2020   01-Jan 3am                    1890.03
4  Delhi - 2020   01-Jan 4am                    1920.28

In [106]:
delhi2020.tail()

             State         Date  Hourly Demand Met (in MW)
8767  Delhi - 2020   31-Dec 7am                    3398.62
8768  Delhi - 2020   31-Dec 8am                    4038.06
8769  Delhi - 2020   31-Dec 9am                    4456.37
8770  Delhi - 2020  31-Dec 10am                    4595.29
8771  Delhi - 2020  31-Dec 11am                    4506.51

In [107]:
delhi2020 = delhi2020.copy()

In [108]:
df6 = pd.read_excel('/kaggle/input/delhibihar/2019.xlsx')
delhi2019 = df6[:8760]

In [109]:
delhi2019.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2019  01-Jan 12am                    1988.87
1  Delhi - 2019   01-Jan 1am                    1763.47
2  Delhi - 2019   01-Jan 2am                    1645.27
3  Delhi - 2019   01-Jan 3am                    1588.03
4  Delhi - 2019   01-Jan 4am                    1626.39

In [110]:
delhi2019.tail()

             State         Date  Hourly Demand Met (in MW)
8755  Delhi - 2019   31-Dec 7pm                    4163.61
8756  Delhi - 2019   31-Dec 8pm                    3962.55
8757  Delhi - 2019   31-Dec 9pm                    3703.03
8758  Delhi - 2019  31-Dec 10pm                    3427.87
8759  Delhi - 2019  31-Dec 11pm                    2968.14

In [111]:
delhi2019 = delhi2019.copy()

In [112]:
df7 = pd.read_excel('/kaggle/input/delhibihar/2018.xlsx')
delhi2018 = df7[:8760]

In [113]:
delhi2018.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2018  01-Jan 12am                    1779.75
1  Delhi - 2018   01-Jan 1am                    1583.84
2  Delhi - 2018   01-Jan 2am                    1484.88
3  Delhi - 2018   01-Jan 3am                    1431.54
4  Delhi - 2018   01-Jan 4am                    1469.44

In [114]:
delhi2018.tail()

             State         Date  Hourly Demand Met (in MW)
8755  Delhi - 2018   31-Dec 7pm                    3406.36
8756  Delhi - 2018   31-Dec 8pm                    3161.54
8757  Delhi - 2018   31-Dec 9pm                    2888.09
8758  Delhi - 2018  31-Dec 10pm                    2602.04
8759  Delhi - 2018  31-Dec 11pm                    2311.98

In [115]:
delhi2018 = delhi2018.copy()

In [116]:
df8 = pd.read_excel('/kaggle/input/delhibihar/2017.xlsx')
delhi2017 = df8[:8760]

In [117]:
delhi2017.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2017  01-Jan 12am                    1775.69
1  Delhi - 2017   01-Jan 1am                    1565.98
2  Delhi - 2017   01-Jan 2am                    1458.04
3  Delhi - 2017   01-Jan 3am                    1413.88
4  Delhi - 2017   01-Jan 4am                    1441.43

In [118]:
delhi2017.tail()

             State         Date  Hourly Demand Met (in MW)
8755  Delhi - 2017   31-Dec 7pm                    2986.64
8756  Delhi - 2017   31-Dec 8pm                    2780.17
8757  Delhi - 2017   31-Dec 9pm                    2539.07
8758  Delhi - 2017  31-Dec 10pm                    2316.31
8759  Delhi - 2017  31-Dec 11pm                    2048.47

In [119]:
delhi2017 = delhi2017.copy()

In [120]:
data = [delhi2024, delhi2023, delhi2022, delhi2021, delhi2020, delhi2019, delhi2018, delhi2017]

In [121]:
df = pd.concat(data)

In [122]:
df.head()

          State         Date  Hourly Demand Met (in MW)
0  Delhi - 2024  01-Jan 12am                    2019.57
1  Delhi - 2024   01-Jan 1am                    1757.78
2  Delhi - 2024   01-Jan 2am                    1605.63
3  Delhi - 2024   01-Jan 3am                    1548.81
4  Delhi - 2024   01-Jan 4am                    1596.26

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64236 entries, 0 to 8759
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      64236 non-null  object
 1   Date                       64236 non-null  object
 2   Hourly Demand Met (in MW)  64236 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.0+ MB

In [124]:
df['State'] = df['State'].astype(str)
df['year'] = df['State'].str.extract(r'(\d{4})').astype(int)

In [125]:
df['datetime_str'] = df['Date'] + ' ' + df['year'].astype(str)

In [126]:
df['datetime'] = pd.to_datetime(df['datetime_str'], format='%d-%b %I%p %Y', errors='coerce')

In [127]:
df.head()

,State,Date,Hourly Demand Met (in MW),year,datetime_str,datetime
0,Delhi - 2024,01-Jan 12am,2019.57,2024,01-Jan 12am 2024,2024-01-01 00:00:00
1,Delhi - 2024,01-Jan 1am,1757.78,2024,01-Jan 1am 2024,2024-01-01 01:00:00
2,Delhi - 2024,01-Jan 2am,1605.63,2024,01-Jan 2am 2024,2024-01-01 02:00:00
3,Delhi - 2024,01-Jan 3am,1548.81,2024,01-Jan 3am 2024,2024-01-01 03:00:00
4,Delhi - 2024,01-Jan 4am,1596.26,2024,01-Jan 4am 2024,2024-01-01 04:00:00

In [128]:
df.tail()

,State,Date,Hourly Demand Met (in MW),year,datetime_str,datetime
8755,Delhi - 2017,31-Dec 7pm,2986.64,2017,31-Dec 7pm 2017,2017-12-31 19:00:00
8756,Delhi - 2017,31-Dec 8pm,2780.17,2017,31-Dec 8pm 2017,2017-12-31 20:00:00
8757,Delhi - 2017,31-Dec 9pm,2539.07,2017,31-Dec 9pm 2017,2017-12-31 21:00:00
8758,Delhi - 2017,31-Dec 10pm,2316.31,2017,31-Dec 10pm 2017,2017-12-31 22:00:00
8759,Delhi - 2017,31-Dec 11pm,2048.47,2017,31-Dec 11pm 2017,2017-12-31 23:00:00

In [129]:
df = df.drop(columns=['Date', 'year', 'datetime_str'])

In [130]:
df.head()

          State  Hourly Demand Met (in MW)            datetime
0  Delhi - 2024                    2019.57 2024-01-01 00:00:00
1  Delhi - 2024                    1757.78 2024-01-01 01:00:00
2  Delhi - 2024                    1605.63 2024-01-01 02:00:00
3  Delhi - 2024                    1548.81 2024-01-01 03:00:00
4  Delhi - 2024                    1596.26 2024-01-01 04:00:00

In [132]:
df.rename(columns={'Hourly Demand Met (in MW)': 'Energy Demand (in MW)'})

             State  Energy Demand (in MW)            datetime
0     Delhi - 2024                2019.57 2024-01-01 00:00:00
1     Delhi - 2024                1757.78 2024-01-01 01:00:00
2     Delhi - 2024                1605.63 2024-01-01 02:00:00
3     Delhi - 2024                1548.81 2024-01-01 03:00:00
4     Delhi - 2024                1596.26 2024-01-01 04:00:00
...            ...                    ...                 ...
8755  Delhi - 2017                2986.64 2017-12-31 19:00:00
8756  Delhi - 2017                2780.17 2017-12-31 20:00:00
8757  Delhi - 2017                2539.07 2017-12-31 21:00:00
8758  Delhi - 2017                2316.31 2017-12-31 22:00:00
8759  Delhi - 2017                2048.47 2017-12-31 23:00:00

[64236 rows x 3 columns]

In [133]:
df.to_csv('cleanedEnergyData.csv')